<a href="https://colab.research.google.com/github/JerylSevilla/JerylSevilla/blob/main/Module_14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Jeryl Sevilla

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [5]:
filename = '/content/RailsToTrails_National Count Data_week.xlsx'
df = pd.read_excel(filename)
df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627,NaN,NaN,NaN
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253,NaN,NaN,NaN
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169,NaN,NaN,NaN
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504,NaN,NaN,NaN
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602,NaN,NaN,NaN

In [6]:
df = df.drop(columns=['Unnamed: 6'])

df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,NaN,NaN,NaN
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,NaN,NaN,NaN
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,NaN,NaN,NaN
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,NaN,NaN,NaN
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,NaN,NaN,NaN

In [7]:
df = df.drop(columns=['Unnamed: 7'])

df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,NaN,NaN
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,NaN,NaN
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,NaN,NaN
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,NaN,NaN
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,NaN,NaN

In [8]:
df = df.drop(columns=['Unnamed: 8'])

df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 9
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,NaN
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,NaN
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,NaN
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,NaN
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,NaN

In [9]:
df = df.drop(columns=['Unnamed: 9'])

df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166

In [11]:
df = df.rename(columns={'Timeframe': 'timeframe',


'Unamed 6': 'percentage_change'})


df.head()

,timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166